<%= form_for(@current_status) do |f| %>
  <% if @current_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@current_status.errors.count, "error") %> prohibited this current_status from being saved:</h2>

      <ul>
      <% @current_status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :workstation_name %><br>
    <%= f.text_field :workstation_name %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :os %><br>
    <%= f.text_field :os %>
  </div>
  <div class="field">
    <%= f.label :user_hash %><br>
    <%= f.text_field :user_hash %>
  </div>
  <div class="field">
    <%= f.label :guest_flag %><br>
    <%= f.check_box :guest_flag %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
