<% provide(:title, 'Workstation Availability') %>

<h1>Workstation Availability By Location</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Location</th>
      <th>PC(Available/Total)</th>
      <th>MAC(Available/Total)</th>
    </tr>
  </thead>

  <tbody>
    <% if !@availability_list.nil? %>
      <% @availability_list.each do |availability| %>
        <tr>
          <td><%= availability[:location_name] %></td>
          <td><%= availability[:available_pc] %>/<%= availability[:total_pc] %></td>
          <td><%= availability[:available_mac] %>/<%= availability[:total_mac] %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
