<% provide :app_name, 'Workstation Tracking' %> 

<% content_for :navbar do %>
  <ul class="nav navbar-nav">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Current Status", current_statuses_path %></li>
    <li><%= link_to "Workstation Availability", availability_path %></li>
    <li><%= link_to "Location Map", location_maps_path %></li>
  </ul>
<% end %>

<%= render 'layouts/umd_lib' %>
