<div class="page-header">
  <div class="row">
    <div class="col-xs-10">
      <span class="h1">Workstation Statuses</span>
    </div>
    <div class="col-xs-2">
      <%= link_to 'New Workstation Status', new_workstation_status_path, class: 'btn btn-success pull-right' %>
    </div>
  </div>
</div>

<table class="table table-striped statuses">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Type</th>
      <th>Os</th>
      <th>User hash</th>
      <th>Status</th>
      <th>Guest flag</th>
      <th>Timestamp</th>
    </tr>
  </thead>

  <tbody>
    <% @workstation_statuses.each do |workstation_status| %>
      <tr>
        <td><%= link_to workstation_status.workstation_name, workstation_status %></td>
        <td>
          <% if workstation_status.location.present? %>
          <%= workstation_status.location.name %>
          <% end %>
        </td>
        <td><%= workstation_status.workstation_type %></td>
        <td><%= workstation_status.os %></td>
        <td><%= workstation_status.user_hash %></td>
        <td><%= workstation_status.status %></td>
        <td><%= workstation_status.guest_flag %></td>
        <td><%= workstation_status.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
